@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
}

.ui {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 16.5%;
    bottom: 1.9%;
    color: white;
    display: block;
}

.Hunger {
    font-family: 'Exo', sans-serif;
    margin-top: 2px;
    width: 240px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border-radius: 25%;
    display: block;}

.Hunger > #Hunger-level {
    width: 100%;
    height: 100%;
    background: linear-gradient(0.25turn, #ff0000, #bd6a01);
    border-radius: 25%;
    display: block;
}

.Thrist {
    font-family: 'Exo', sans-serif;
    margin-top: 2px;
    width: 240px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border-radius: 25%;
    display: block;
}

.Thrist > #Thrist-level {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(0.25turn, #001ba4, #1374ff);
    border-radius: 25%;
    display: block;
}

.ServId {
    font-family: 'Exo', sans-serif;
    margin-top: 2px;
    width: 240px;
    height: 20px;
    color: white;
}

.DateTime {
    font-family: 'Exo', sans-serif;
    margin-top: 2px;
    width: 240px;
    height: 20px;
    color: white;
}