@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
}

.ui {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 16%;
    bottom: 1.7%;
    color: white;
}

.food {
    width: 64px;
    height: 64px;
    background-image: url("food.png");
    background-size: 85%;
    background-position: center;
    background-repeat:no-repeat;
}

.food > #FoodOp {
    opacity: 0;
}

.water {
    width: 64px;
    height: 64px;
    background-image: url("water.png");
    background-size: 85%;
    background-position: center;
    background-repeat:no-repeat;
    display: inline-block;
}

.water > #WaterOp {
    opacity: 0;
}

.drunk {
    width: 64px;
    height: 64px;
    background-image: url("drunk.png");
    background-size: 85%;
    background-position: center;
    background-repeat:no-repeat;
    display: inline-block;
}

.drunk > #DrunkOp {
    opacity: 0;
}